<body>
    {{#if token}}
    <div class="content-wrapper">
        <div class="col-xl-3 d-flex grid-margin stretch-card">
            {{#each buses}}
            <div class="card">
                <img src="{{image}}" class="card-img-top" alt="Avtobus rasmi">
                <div class="card-body">
                    <a href="#" style="text-decoration: none;">
                        <h5 class="card-title">{{model}}</h5>
                    </a>
                    <p class="card-text"><strong>O'rindiqlar soni: </strong>{{seats.length}}</p>
                    <p class="card-text"><strong>Yo'nalish:</strong> Toshkent → Samarqand</p>
                    <div style="display: flex; margin-top: 15px;">
                        <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal"
                            data-bs-target="#updateBusModal" style="width: 100%;">
                            Yangilash
                        </button>
                        <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal"
                            data-bs-target="#deleteBusModal" data-id="{{_id}}"
                            style="width: 100%; background-color: red;">
                            O'chirish
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <script>
        window.location.href = './login'
    </script>
    {{/if}}


    <div class="modal fade" id="addBusesModel" tabindex="-1" aria-labelledby="addBusesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 12px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
                <div class="modal-header">
                    <h4 class="modal-title text-success" id="addBusesModalLabel">Yangi Avtobus Qo‘shish</h4>
                    <button style="border: none" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="/create-bus" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="model">Avtobus modeli</label>
                            <input type="text" class="form-control" id="model" name="model" required
                                style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Yo'nalish</label>
                            <select class="form-select" name="route" required
                                style="width: 100%; border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                                <option value="" disabled selected>Tanlang...</option>
                                {{#each route}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="image">Rasm yuklash</label>
                            <input type="file" class="form-control" id="image" name="image" required
                                style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px; cursor: pointer;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                style="height: 45px;">Bekor qilish</button>
                            <button id="createButton" type="submit" class="btn btn-success d-flex align-items-center"
                                style="background-color: #198754; border: none; height: 45px; display: flex; align-items: center; justify-content: center;"
                                onclick="showLoader(event, 'createButton', 'createText', 'createSpinner')">
                                <span id="createText">Qo‘shish</span>
                                <div id="createSpinner" style="display: none; width: 18px; height: 18px; 
            border: 3px solid rgba(255, 255, 255, 0.3); border-top: 3px solid white; 
            border-radius: 50%; animation: spin 1s linear infinite;">
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateBusModal" tabindex="-1" aria-labelledby="addAdminModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 12px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
                <div class="modal-header">
                    <h4 class="modal-title text-success" id="addAdminModalLabel">Yangi Avtobus Qo‘shish</h4>
                    <button style="border: none" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="/bus/id/update" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label">Avtobus modeli</label>
                            <input type="text" class="form-control" name="name" required
                                style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Yo'nalish</label>
                            <select class="form-select" name="startPoint" required
                                style="width: 100%; border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                                <option value="" disabled selected>Tanlang...</option>
                                {{#each route}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Rasm yuklash</label>
                            <input type="file" class="form-control" name="image" required
                                style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px; cursor: pointer;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                style="height: 45px;">Bekor qilish</button>
                            <button id="updateButton" type="submit" class="btn btn-success d-flex align-items-center"
                                style="background-color: #198754; border: none; height: 45px; display: flex; align-items: center; justify-content: center;"
                                onclick="showLoader(event, 'updateButton', 'updateText', 'updateSpinner')">
                                <span id="updateText">Qo‘shish</span>
                                <div id="updateSpinner" style="display: none; width: 18px; height: 18px; 
            border: 3px solid rgba(255, 255, 255, 0.3); border-top: 3px solid white; 
            border-radius: 50%; animation: spin 1s linear infinite;">
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteBusModal" tabindex="-1" aria-labelledby="deleteAdminModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 12px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="deleteAdminModalLabel">Avtobusni o‘chirish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <p>Haqiqatdan ham ushbu avtobusni o‘chirmoqchimisiz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
                    <form id="deleteForm" method="POST"
                        onsubmit="showLoader(event, 'deleteButton', 'deleteText', 'deleteSpinner')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button id="deleteButton" type="submit" class="btn btn-danger d-flex align-items-center"
                            style="position: relative; display: flex; align-items: center; justify-content: center;">
                            <span id="deleteText">O‘chirish</span>
                            <div id="deleteSpinner" style="display: none; width: 18px; height: 18px; 
                border: 3px solid rgba(255, 255, 255, 0.3); border-top: 3px solid white; 
                border-radius: 50%; animation: spin 1s linear infinite;">
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showLoader(event, buttonId, textId, spinnerId) {
            const button = document.getElementById(buttonId);
            const text = document.getElementById(textId);
            const spinner = document.getElementById(spinnerId);
            const form = event.target.form

            if (!form.checkValidity()) {
                return;
            }

            event.preventDefault();

            button.disabled = true;
            text.style.display = "none";
            spinner.style.display = "inline-block";

            setTimeout(() => {
                if (event.target.form) {
                    event.target.form.submit();
                }
            }, 1000);
        }

        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".delete-btn");
            const deleteForm = document.getElementById("deleteForm");

            deleteButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const busId = this.getAttribute("data-id");
                    deleteForm.setAttribute("action", `buhhghs/${busId}/delete`);
                });
            });
        });
    </script>