<body>
    {{#if token}}
    {{#if buses}}
    <div class="content-wrapper">
        <div class="col-xl-3 d-flex grid-margin stretch-card">
            {{#each buses}}
            <div class="card" style="margin-right: 10px;">
                <img src="{{image}}" class="card-img-top" alt="Avtobus rasmi"
                    style="width: 100%; height: 250px; object-fit: cover;">
                <div class="card-body" style="padding: 20px;">
                    <h3 class="card-text" style="margin: 20px;">Avtobus modeli: <strong
                            style="font-weight: 400;">{{bus_model}}</strong></h3>
                    <h3 class="card-text" style="margin: 20px;">Avtobus raqami: <strong
                            style="font-weight: 400;">{{bus_number}}</strong></h3>
                    <a href="/bus/{{_id}}">
                        <button type="button" class="btn btn-success mb-3" style="width: 100%;">
                            Batafsil <i class="fa-solid fa-arrow-right" style="padding-left: 10px;"></i>
                        </button>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="content-wrapper" style="display: flex; justify-content: center; align-items: center; height: 300px;">
        <div
            style="width: 400px; padding: 30px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1); text-align: center; background: #fff;">
            <h2 style="margin: 0; color: #333; font-size: 28px;">Avtobuslar mavjud emas!</h2>
            <p style="color: #777; margin: 15px 0; font-size: 20px;">Yangi avtobus qo'shing</p>
            <button type="button" data-bs-toggle="modal" data-bs-target="#addBusesModel"
                style="padding: 12px 25px; border: none; background: #17c964; color: white; font-size: 20px; border-radius: 8px; cursor: pointer; transition: 0.3s; box-shadow: 0 4px 10px rgba(23, 201, 100, 0.3);"
                onmouseover="this.style.background='#13a856'; this.style.boxShadow='0 6px 15px rgba(23, 201, 100, 0.5)';"
                onmouseout="this.style.background='#17c964'; this.style.boxShadow='0 4px 10px rgba(23, 201, 100, 0.3)';">
                + Avtobus qo'shish
            </button>
        </div>
    </div>
    {{/if}}
    {{else}}
    <script>
        window.location.href = './login'
    </script>
    {{/if}}

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Xatolik</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Yopish">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- errorFlash bir nechta xabar bo‘lishi mumkin, ularni birlashtirish uchun -->
                    <p id="errorText">
                        {{#if errorFlash}}
                        {{{errorFlash.[0]}}}
                        {{/if}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addBusesModel" tabindex="-1" aria-labelledby="addBusesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 12px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
                <div class="modal-header">
                    <h4 class="modal-title text-success" id="addBusesModalLabel">Yangi Avtobus Qo‘shish</h4>
                    <button style="border: none" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="/create-bus" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="bus_model">Avtobus modeli</label>
                            <input type="text" class="form-control" id="bus_model" name="bus_model"
                                placeholder="Masalan: Yutong-51" required
                                style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="bus_number">Avtobus raqami</label>
                            <input type="text" class="form-control" id="bus_number" name="bus_number"
                                placeholder="ASD125D9" required
                                style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="seats_count">O'rindiqlar soni</label>
                            <input type="text" class="form-control" id="seats_count" name="seats_count" placeholder="51"
                                required
                                style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="image">Rasm yuklash</label>
                            <input type="file" class="form-control" id="image" name="image" required
                                style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px; cursor: pointer;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                style="height: 45px;">Bekor qilish</button>
                            <button id="createButton" type="submit" class="btn btn-success d-flex align-items-center"
                                style="background-color: #198754; border: none; height: 45px; display: flex; align-items: center; justify-content: center;"
                                onclick="showLoader(event, 'createButton', 'createText', 'createSpinner')">
                                <span id="createText">Qo‘shish</span>
                                <div id="createSpinner" style="display: none; width: 18px; height: 18px; 
            border: 3px solid rgba(255, 255, 255, 0.3); border-top: 3px solid white; 
            border-radius: 50%; animation: spin 1s linear infinite;">
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script>
        function showLoader(event, buttonId, textId, spinnerId) {
            event.preventDefault();

            var form = event.target.closest("form");
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            var button = document.getElementById(buttonId);
            var createText = document.getElementById(textId);
            var createSpinner = document.getElementById(spinnerId);

            if (button && createText && createSpinner) {
                createText.style.display = "none";
                createSpinner.style.display = "inline-block";
                button.disabled = true;

                setTimeout(function () {
                    form.submit();
                }, 1000);
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            var errorText = document.getElementById("errorText").innerHTML.trim();
            if (errorText) {
                $('#errorModal').modal('show');
            }
        });
    </script>