{{#if token}}
{{#if drivers}}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center; font-size: 30px;">Adminlar</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Rasm</th>
                                    <th>Ism, Familiya</th>
                                    <th>Telefon raqami</th>
                                    <th>Tajribasi</th>
                                    <th>Jinsi</th>
                                    <th>Avtobus raqami</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each drivers}}
                                <tr>
                                    <td class="py-1">
                                        <img src="{{image}}" alt="image" />
                                    </td>
                                    <td>{{name}}</td>
                                    <td>{{phoneNumber}}</td>
                                    <td>{{experience}} yil</td>
                                    <td>{{gender}}</td>
                                    <td>{{bus.bus_number}}</td>
                                    <td>
                                        <button class="btn btn-success btn-sm edit-btn" data-bs-toggle="modal"
                                            data-bs-target="#updateDriverModal"
                                            onclick="openUpdateModal('{{_id}}', '{{name}}', '{{phoneNumber}}', '{{experience}}', '{{gender}}')">
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm delete-btn" data-bs-toggle="modal"
                                            data-bs-target="#deleteDriverModal" data-id="{{_id}}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="content-wrapper" style="display: flex; justify-content: center; align-items: center; height: 300px;">
    <div
        style="width: 400px; padding: 30px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1); text-align: center; background: #fff;">
        <h2 style="margin: 0; color: #333; font-size: 28px;">Haydovchilar mavjud emas!</h2>
        <p style="color: #777; margin: 15px 0; font-size: 20px;">Yangi haydovchi qo'shing</p>
        <button type="button" data-bs-toggle="modal" data-bs-target="#addDriverModal"
            style="padding: 12px 25px; border: none; background: #17c964; color: white; font-size: 20px; border-radius: 8px; cursor: pointer; transition: 0.3s; box-shadow: 0 4px 10px rgba(23, 201, 100, 0.3);"
            onmouseover="this.style.background='#13a856'; this.style.boxShadow='0 6px 15px rgba(23, 201, 100, 0.5)';"
            onmouseout="this.style.background='#17c964'; this.style.boxShadow='0 4px 10px rgba(23, 201, 100, 0.3)';">
            + Haydovchi qo'shish
        </button>
    </div>
</div>
{{/if}}

<div class="modal fade" id="addDriverModal" tabindex="-1" aria-labelledby="addDriverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 12px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
            <div class="modal-header">
                <h4 class="modal-title text-success" id="addDriverModalLabel">Yangi Haydovchi Qo‘shish</h4>
                <button style="border: none" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <form action="/create-driver" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="name">Familiya, Ism, Sharif</label>
                        <input type="text" class="form-control" id="name" name="name"
                            placeholder="Masalan: Hasanov Jamol Sanjar o'g'li" required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="User"
                            required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Parol</label>
                        <input type="text" class="form-control" id="password" name="password" placeholder="parol123"
                            required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phoneNumber">Telefon raqam</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                            placeholder="+998991234567" required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="experience">Tajriba(yil)</label>
                        <input type="number" min="1" max="50" class="form-control" id="experience" name="experience"
                            placeholder="5" required
                            style="border: 2px solid #17c964 ; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="gender">Jinsi</label>
                        <select class="form-select" id="gender" name="gender" required
                            style="width: 100%; border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                            <option value="" disabled selected>Tanlang...</option>
                            <option value="Erkak">Erkak</option>
                            <option value="Ayol">Ayol</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="bus">Avtobus</label>
                        <select class="form-select" id="bus" name="bus" required
                            style="width: 100%; border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                            <option value="" disabled selected>Tanlang...</option>
                            {{#each bus}}
                            <option value="{{_id}}">{{bus_model}}-{{bus_number}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Rasm yuklash</label>
                        <input type="file" class="form-control" id="image" name="image" required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px; cursor: pointer;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            style="height: 45px;">Bekor qilish</button>
                        <form id="deleteForm" method="POST"
                            onsubmit="showspinner(event, 'addButton', 'addText', 'addSpinner')">
                            <button id="addButton" type="submit" class="btn btn-success d-flex align-items-center"
                                style="position: relative; display: flex; align-items: center; justify-content: center;">
                                <span id="addText">Qo'shish</span>
                                <div id="addSpinner" style="display: none; width: 18px; height: 18px; 
                border: 3px solid rgba(255, 255, 255, 0.3); border-top: 3px solid white; 
                border-radius: 50%; animation: spin 1s linear infinite;">
                                </div>
                            </button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateDriverModal" tabindex="-1" aria-labelledby="updateDriverModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 12px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
            <div class="modal-header">
                <h4 class="modal-title text-success" id="updateDriverModalLabel">Haydovchi ma'lumotlarini yangilash</h4>
                <button style="border: none" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="updateName">Familiya, Ism, Sharif</label>
                        <input type="text" class="form-control" id="updateName" name="name" required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="updateUsername">Username</label>
                        <input type="text" class="form-control" id="updateUsername" name="username" required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="updatephoneNumber">Telefon raqam</label>
                        <input type="text" class="form-control" id="updatephoneNumber" name="phoneNumber" required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="updateExperience">Tajriba(yil)</label>
                        <input type="number" min="1" max="50" class="form-control" id="updateExperience"
                            name="experience" required
                            style="border: 2px solid #17c964 ; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="updateGender">Jinsi</label>
                        <select class="form-select" id="updateGender" name="gender" required
                            style="width: 100%; border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                            <option value="" disabled selected>Tanlang...</option>
                            <option value="Erkak">Erkak</option>
                            <option value="Ayol">Ayol</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="updateBus">Avtobus</label>
                        <select class="form-select" id="updateBus" name="bus" required
                            style="width: 100%; border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px;">
                            <option value="" disabled selected>Tanlang...</option>
                            {{#each bus}}
                            <option value="{{_id}}">{{bus_model}}-{{bus_number}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Rasm yuklash</label>
                        <input type="file" class="form-control" id="image" name="image" required
                            style="border: 2px solid #17c964; border-radius: 6px; padding: 10px; font-size: 16px; background-color: #f8f9fa; transition: 0.3s; height: 45px; cursor: pointer;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            style="height: 45px;">Bekor qilish</button>
                        <form id="deleteForm" method="POST"
                            onsubmit="showspinner(event, 'addButton', 'addText', 'addSpinner')">
                            <button id="addButton" type="submit" class="btn btn-success d-flex align-items-center"
                                style="position: relative; display: flex; align-items: center; justify-content: center;">
                                <span id="addText">Qo'shish</span>
                                <div id="addSpinner" style="display: none; width: 18px; height: 18px; 
                border: 3px solid rgba(255, 255, 255, 0.3); border-top: 3px solid white; 
                border-radius: 50%; animation: spin 1s linear infinite;">
                                </div>
                            </button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteDriverModal" tabindex="-1" aria-labelledby="deleteDriverModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 12px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteDriverModalLabel">Haydovchini o‘chirish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <p>Haqiqatdan ham ushbu haydovchini o‘chirmoqchimisiz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
                <form id="deleteForm" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button id="deleteButton" type="submit" class="btn btn-danger">
                        <span id="deleteText">O‘chirish</span>
                        <span id="deleteLoader" class="spinner-border spinner-border-sm d-none" role="status"
                            aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function openUpdateModal(id, name, phoneNumber, experience, gender) {
        document.getElementById("updateName").value = name;
        document.getElementById("updatephoneNumber").value = phoneNumber;
        document.getElementById("updateExperience").value = experience;
        document.getElementById("updateGender").value = gender;

        document.querySelector("#updateDriverModal form").action = `/driver/${id}/update`;

        var myModal = new bootstrap.Modal(document.getElementById('updateDriverModal'));
        myModal.show();
    }

    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".delete-btn");
        const deleteForm = document.getElementById("deleteForm");
        const deleteButton = document.getElementById("deleteButton");
        const deleteText = document.getElementById("deleteText");
        const deleteLoader = document.getElementById("deleteLoader");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                const driverId = this.getAttribute("data-id");
                deleteForm.setAttribute("action", `/driver/${driverId}/delete`);
            });
        });
    });
</script>

{{else}}
<script>
    window.location.href = './login'
</script>
{{/if}}