<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

  <link rel="stylesheet" href="css/vertical-layout-light/style.css">

  <link type="image/x-icon" href="../../favicon-3.png" rel="icon" />
</head>

<body>
  {{#if token}}
  {{#if user}}
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-between"
        style="width: 100%; margin: 0 auto;">
        <h1 style="margin-left: 20px;">Dashboard</h1>
        {{#if (eq user.role "superAdmin" "admin")}}
        <div style="display: flex; align-items: center; gap: 30px;">
          {{#if admins}}
          <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addAdminModal"
            style="margin-top: 16px;">
            + Admin qo‘shish
          </button>
          {{/if}}

          {{#if buses}}
          <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addBusesModel"
            style="margin-top: 16px;">
            + Avtobus qo‘shish
          </button>
          {{/if}}

          {{#if routes}}
          <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addRouteModal"
            style="margin-top: 16px;">
            + Yo'nalish qo‘shish
          </button>
          {{/if}}

          {{#if trips}}
          <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addTripsModal"
            style="margin-top: 16px;">
            + Reys qo‘shish
          </button>
          {{/if}}

          {{#if drivers}}
          <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addDriverModal"
            style="margin-top: 16px;">
            + Haydovchi qo‘shish
          </button>
          {{/if}}

          {{#if ticketSellers}}
          <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal"
            data-bs-target="#addTicketSellerModal" style="margin-top: 16px;">
            + Chipta sotuvchisini qo‘shish
          </button>
          {{/if}}

          <div style="position: relative; display: inline-block; margin-right: 20px;">
            <button id="profileBtn" onclick="toggleDropdown()"
              style="width: 50px; height: 50px; border-radius: 50%; border: none; background: transparent; cursor: pointer; padding: 5px; transition: transform 0.2s ease;">
              <img
                style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"
                {{#if (eq gender "Erkak" )}}
                src="https://kpwxamepfkueoebpkamd.supabase.co/storage/v1/object/public/mbus_bucket/gender/male.png"
                {{else}}
                src="https://kpwxamepfkueoebpkamd.supabase.co/storage/v1/object/public/mbus_bucket/gender/female.png"
                {{/if}} alt="Profile">
            </button>

            <div id="dropdown"
              style="display: none; position: absolute; right: 0; top: 60px; background: white; box-shadow: 0px 6px 12px rgba(0,0,0,0.15); border-radius: 8px; width: 150px; overflow: hidden;">
              <a href="/profile"
                style="display: flex; align-items: center; gap: 10px; padding: 12px; text-decoration: none; color: #333; font-size: 14px; transition: background 0.3s ease; font-family: Arial, sans-serif;">
                <i class="fa-solid fa-user"></i> Profil
              </a>
              <a href="/logout"
                style="display: flex; align-items: center; gap: 10px; padding: 12px; text-decoration: none; color: #d9534f; font-size: 14px; transition: background 0.3s ease; font-family: Arial, sans-serif;">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
              </a>
            </div>
          </div>

          {{else}}
          <div style="position: relative; display: inline-block; margin-right: 20px;">
            <button id="profileBtn" onclick="toggleDropdown()"
              style="width: 50px; height: 50px; border-radius: 50%; border: none; background: transparent; cursor: pointer; padding: 5px; transition: transform 0.2s ease;">
              <img
                style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"
                {{#if (eq gender "Erkak" )}}
                src="https://kpwxamepfkueoebpkamd.supabase.co/storage/v1/object/public/mbus_bucket/gender/male.png"
                {{else}}
                src="https://kpwxamepfkueoebpkamd.supabase.co/storage/v1/object/public/mbus_bucket/gender/female.png"
                {{/if}} alt="Profile">
            </button>

            <div id="dropdown"
              style="display: none; position: absolute; right: 0; top: 60px; background: white; box-shadow: 0px 6px 12px rgba(0,0,0,0.15); border-radius: 8px; width: 150px; overflow: hidden;">
              <a href="/profile"
                style="display: flex; align-items: center; gap: 10px; padding: 12px; text-decoration: none; color: #333; font-size: 14px; transition: background 0.3s ease; font-family: Arial, sans-serif;">
                <i class="fa-solid fa-user"></i> Profil
              </a>
              <a href="/logout"
                style="display: flex; align-items: center; gap: 10px; padding: 12px; text-decoration: none; color: #d9534f; font-size: 14px; transition: background 0.3s ease; font-family: Arial, sans-serif;">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
              </a>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </nav>

    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        {{#if (eq user.role "superAdmin" 'admin')}}
        <ul class="nav">
          {{#if admins}}
          <li class="nav-item">
            <a class="nav-link" href="/" style="background-color: #007bff; color: white;">
              <i class="fas fa-user-shield admin-icon" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Adminlar</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fas fa-user-shield admin-icon" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Adminlar</span>
            </a>
          </li>
          {{/if}}

          {{#if buses}}
          <li class="nav-item">
            <a class="nav-link" href="/buses" style="background-color: #007bff; color: white;">
              <i class="fa-solid fa-bus" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Avtobuslar</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/buses">
              <i class="fa-solid fa-bus" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Avtobuslar</span>
            </a>
          </li>
          {{/if}}

          {{#if drivers}}
          <li class="nav-item">
            <a class="nav-link" href="/drivers" style="background-color: #007bff; color: white;">
              <i class="fa-solid fa-id-card" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Haydovchilar</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/drivers">
              <i class="fa-solid fa-id-card" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Haydovchilar</span>
            </a>
          </li>
          {{/if}}

          {{#if ticketSellers}}
          <li class="nav-item">
            <a class="nav-link" href="/ticketsellers" style="background-color: #007bff; color: white;">
              <i class="fas fa-user-tie ticket-seller" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Chipta sotuvchilar</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/ticketsellers">
              <i class="fas fa-user-tie ticket-seller" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Chipta sotuvchilar</span>
            </a>
          </li>
          {{/if}}

          {{#if routes}}
          <li class="nav-item">
            <a class="nav-link" href="/routes" style="background-color: #007bff; color: white;">
              <i class="fa-solid fa-route" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Yo'nalishlar</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/routes">
              <i class="fa-solid fa-route" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Yo'nalishlar</span>
            </a>
          </li>
          {{/if}}


          {{#if trips}}
          <li class="nav-item">
            <a class="nav-link" href="/trips" style="background-color: #007bff; color: white;">
              <i class="fa-solid fa-clock" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Reyslar</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/trips">
              <i class="fa-solid fa-clock" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Reyslar</span>
            </a>
          </li>
          {{/if}}


          {{#if passengers}}
          <li class="nav-item">
            <a class="nav-link" href="/#passengers" style="background-color: #007bff; color: white;">
              <i class="fa-solid fa-users" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Yo'lovchilar</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/#passengers">
              <i class="fa-solid fa-users" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Yo'lovchilar</span>
            </a>
          </li>
          {{/if}}

          {{#if tickets}}
          <li class="nav-item">
            <a class="nav-link" href="/tickets" style="background-color: #007bff; color: white;">
              <i class="fa-solid fa-ticket" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Chipta band qilish</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/tickets">
              <i class="fa-solid fa-ticket" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Chipta band qilish</span>
            </a>
          </li>
          {{/if}}
        </ul>
        {{/if}}

        {{#if (eq user.role "ticket_seller")}}
        <ul class="nav">
          {{#if tickets}}
          <li class="nav-item">
            <a class="nav-link" href="/tickets" style="background-color: #007bff; color: white;">
              <i class="fa-solid fa-ticket" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Chipta band qilish</span>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/tickets">
              <i class="fa-solid fa-ticket" style="font-size: 20px; margin-right: 10px;"></i>
              <span class="menu-title">Chipta band qilish</span>
            </a>
          </li>
          {{/if}}
        </ul>
        {{/if}}
      </nav>
      <div class="main-panel">
        {{{body}}}
      </div>
    </div>
  </div>

  <script>
    function toggleDropdown() {
      var dropdown = document.getElementById("dropdown");
      dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
    }

    document.addEventListener("click", function (event) {
      var dropdown = document.getElementById("dropdown");
      var profileBtn = document.getElementById("profileBtn");
      if (!profileBtn.contains(event.target) && !dropdown.contains(event.target)) {
        dropdown.style.display = "none";
      }
    });
  </script>
  {{/if}}
  {{else}}
  <script>
    window.location.href = './login'
  </script>
  {{/if}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>